

:root{
    --primary:#ddd; 
    --light:#fff; 
    --dark:#333; 
    --shadow: 0 1px 5px rgba(104,104,104,0.8); 
}


html{
    background-color: var(--primary);
    color: var(--dark);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin: 40px;
    font-family: 'Courier New', Courier, monospace;
}
*{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.btn {
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
  cursor: pointer;
}

.navbar{
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 0;
    gap: 20px;
}

.navbar a{
    color: var(--dark);
    text-align: center;
    background-color: var(--light);
    padding: 0.8rem;
    box-shadow: var(--shadow);
    display: block;
}

.top{
    display: grid;
    grid-template-areas:
    'myImg myImg card-a '
    'myImg myImg card-b ' ;
    margin: 20px 0;
    gap: 20px;
    
}

.top-img{
  grid-area: myImg;
  min-height: 400px;
  background:    url(https://image.ibb.co/kYJK8x/showcase.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
}
.top-img h1{
    color: var(--light);
    font-size: 4rem;
}
.top-card-a{
    grid-area: card-a;
}

.top-img p{
    color: var(--light);
}

.top-img button{
    margin-top: 20px;
    cursor: pointer;
}
.top-card-b{
    grid-area: card-b;
}

.top-card-a{
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight:bold;
    font-size: 1.2rem;
    text-align: center;
}

.top-card-b{
    text-align: center;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight:bold;
    font-size: 1.2rem;
}

.container-info{
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}

.wraper-info{
    box-shadow: var(--shadow);
}

.card-show-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.card-show-info h3{
    margin: 20px 0;
    font-size: 2rem;
}

.show-idea{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    box-shadow: var(--shadow);
}
.img-idea{
    padding: 10px;
}

.desc-idea{
   display: flex;
   flex-direction: column;
   margin: 30px;
   
}
.desc-idea h2{
    font-weight: bold;
    font-size: 2rem;
}

.desc-idea p{
    margin:30px 0;
}

.desc-idea button{
    width: 30%;
    padding: 10px;
    font-size: 1.4rem;
}

.portfolio{
    margin: 20px 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}

.portfolio img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: var(--shadow);
}

.footer{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
    padding: 20px;
    font-weight: bold;
    color: var(--light);
    background-color: var(--dark);
}
.top-box {
  padding: 3.5rem;
}


@media screen and (max-width:700px) {
    .navbar{
        grid-template-columns: 1fr;
    }
    .top{
        grid-template-areas:
        'myImg myImg'
        'card-a card-b';
    }

    .top-box{
        height: 220px;
    }

    .top-img h1{
        font-size: 2rem;
    }

    .show-idea{
        grid-template-columns: 1fr;
    }
    .img-idea{
        margin: 10px auto;
        width: 100%;
    }

    .desc-idea{
        padding-left: 40px;
        display: grid;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .desc-idea button{
        width: 100%;
        margin: 20px 0;
    }
}

@media screen and (max-width:500px) {
    .top{
        grid-template-areas:
        'myImg'
        'card-a'
        'card-b';
    }

    .top-box{
        height: 220px;
    }

    .top-img h1{
        font-size: 2rem;
    }

    .show-idea{
        grid-template-columns: 1fr;
    }
    .img-idea{
        margin: 10px auto;
    }

    .desc-idea{
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .desc-idea button{
        width: 100%;
        margin: 20px 0;
    }
}